body {
    background-color: #307473 ;
    display: flex;
    justify-content: center;
}

#joc {
    margin-top: 130px;
    height: 363px;
    width: 360px;
    background-color: #C6D4FF;
}

.patrat {
    height: 100px;
    width: 100px;
    background-color: #7A82AB;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    box-shadow: 5px 10px;
    text-align: center;
}

h1 {
    padding-left: 6px;
    padding-top: 9px;
}

#buton {
    height: 25px;
    margin-top: 40px;
    margin-left: 111px;
    background-color: #7A82AB;
}

#buton:hover {
    background-color: #2DC2BD;
}